{% extends 'base.html.twig' %}

{% block title %}Edit ProfilsDev{% endblock %}

{% block body %}
    <h1>Edit ProfilsDev</h1>

    {{ include('profils_dev/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profils_dev_index') }}">back to list</a>

    {{ include('profils_dev/_delete_form.html.twig') }}
{% endblock %}
