{% extends 'base.html.twig' %}

{% block title %}New ProfilsDev{% endblock %}

{% block body %}
    <h1>Create new ProfilsDev</h1>

    {{ include('profils_dev/_form.html.twig') }}

    <a href="{{ path('app_profils_dev_index') }}">back to list</a>
{% endblock %}
