{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<!-- Begin page -->
	<div class="layout-wrapper landing">
		<nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar">
			<div class="container-fluid custom-container">
				<a class="navbar-brand" href="index.html">
					<img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="17">
					<img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light" height="17">
				</a>
				<button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="mdi mdi-menu"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
						<li class="nav-item">
							<a class="nav-link active" href="#hero">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#process">Procedure</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#categories">Categories</a>
						</li>
						
					</ul>

					<div class="">
						<a href="{{ url('app_login') }}" class="btn btn-soft-primary">
							<i class="ri-user-3-line align-bottom me-1"></i>
							Connexion & Inscription</a>
					</div>
				</div>

			</div>
		</nav>
		<!-- end navbar -->

		<!-- start hero section -->
		<section class="section job-hero-section bg-light pb-0" id="hero">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<div>
							<h1 class="display-6 fw-semibold text-capitalize mb-3 lh-base">Trouvez votre prochain emploi et construisez votre rêve ici.</h1>
							<p class="lead text-muted lh-base mb-4">Trouvez votre prochain emploi et construisez votre rêve ici.</p>
							<form action="#" class="job-panel-filter">
								<div class="row g-md-0 g-2">
									<div class="col-md-4">
										<div>
											<input type="search" id="job-title" class="form-control filter-input-box" placeholder="Job, non=m d'entreprise...">
										</div>
									</div>
									<!--end col-->
									<div class="col-md-4">
										<div>
											<select class="form-control" data-choices>
												<option value="">Selectionnez le tye de job</option>
												<option value="Full Time">Temps plein</option>
												<option value="Part Time">Temps partiel</option>
												<option value="Freelance">Freelance</option>
												<option value="Internship">Stage</option>
											</select>
										</div>
									</div>
									<!--end col-->
									<div class="col-md-4">
										<div class="h-100">
											<button class="btn btn-primary submit-btn w-100 h-100" type="submit">
												<i class="ri-search-2-line align-bottom me-1"></i>
												Trouvez un  Job</button>
										</div>
									</div>
									<!--end col-->
								</div>
								<!--end row-->
							</form>

							<ul class="treding-keywords list-inline mb-0 mt-3 fs-13">
								<li class="list-inline-item text-danger fw-semibold">
									<i class="mdi mdi-tag-multiple-outline align-middle"></i>
									Mots clés:</li>
								<li class="list-inline-item">
									<a href="javascript:void(0)">Design,</a>
								</li>
								<li class="list-inline-item">
									<a href="javascript:void(0)">Development,</a>
								</li>
								<li class="list-inline-item">
									<a href="javascript:void(0)">Manager,</a>
								</li>
								<li class="list-inline-item">
									<a href="javascript:void(0)">Senior</a>
								</li>
							</ul>
						</div>
					</div>
					<!--end col-->
					<div class="col-lg-4">
						<div class="position-relative home-img text-center mt-5 mt-lg-0">
							<div class="card p-3 rounded shadow-lg inquiry-box">
								<div class="d-flex align-items-center">
									<div class="avatar-sm flex-shrink-0 me-3">
										<div class="avatar-title bg-warning-subtle text-warning rounded fs-18">
											<i class="ri-mail-send-line"></i>
										</div>
									</div>
									<h5 class="fs-15 lh-base mb-0">Demande de travail de la part de adopteDev</h5>
								</div>
							</div>

							<div class="card p-3 rounded shadow-lg application-box">
								<h5 class="fs-15 lh-base mb-3">Applications</h5>
								<div class="avatar-group">
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle img-fluid">
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Ellen Smith">
										<div class="avatar-xs">
											<div class="avatar-title rounded-circle bg-danger">
												S
											</div>
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Ellen Smith">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle img-fluid">
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top">
										<div class="avatar-xs">
											<div class="avatar-title rounded-circle bg-success">
												Z
											</div>
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-9.jpg" alt="" class="rounded-circle img-fluid">
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="More Appliances">
										<div class="avatar-xs">
											<div class="avatar-title fs-13 rounded-circle bg-light border-dashed border text-primary">
												2k+
											</div>
										</div>
									</a>
								</div>
							</div>
							<img src="assets/images/job-profile2.png" alt="" class="user-img">

							<div class="circle-effect">
								<div class="circle"></div>
								<div class="circle2"></div>
								<div class="circle3"></div>
								<div class="circle4"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end hero section -->

		<section class="section" id="process">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="text-center mb-5">
							<h1 class="mb-3 ff-secondary fw-semibold lh-base">Comment
								<span class="text-primary">marchek</span>
								le matching entre développeur et entreprise</h1>
							<p class="text-muted">Une personne créative a la capacité d'inventer et de développer des idées originales, notamment dans les arts. Comme beaucoup de personnes créatives, il n'était jamais satisfait.</p>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-lg">
							<div class="card-body p-4">
								<h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
									<div class="job-icon-effect"></div>
									<span>1</span>
								</h1>
								<h6 class="fs-17 mb-2">Inscrivez vous</h6>
								<p class="text-muted mb-0 fs-15">D'abord, vous avez besoin de créer un compte.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none">
							<div class="card-body p-4">
								<h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
									<div class="job-icon-effect"></div>
									<span>2</span>
								</h1>
								<h6 class="fs-17 mb-2">Créer un cv</h6>
								<p class="text-muted mb-0 fs-15">Creer un profil pour votre compagnie.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none">
							<div class="card-body p-4">
								<h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
									<div class="job-icon-effect"></div>
									<span>3</span>
								</h1>

								<h6 class="fs-17 mb-2">Trouvez un travail</h6>
								<p class="text-muted mb-0 fs-15">Cherchez le travail de vos reves.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none">
							<div class="card-body p-4">
								<h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
									<div class="job-icon-effect"></div>
									<span>4</span>
								</h1>
								<h6 class="fs-17 mb-2">Psotulez pour le travail</h6>
								<p class="text-muted mb-0 fs-15">Postuler auprès de l'entreprise et attendre la date de l'interview.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end container-->
		</section>

		<!-- start features -->
		<section class="section">
			<div class="container">
				<div class="row align-items-center justify-content-lg-between justify-content-center gy-4">
					<div class="col-lg-5 col-sm-7">
						<div class="about-img-section mb-5 mb-lg-0 text-center">
							<div class="card rounded shadow-lg inquiry-box d-none d-lg-block">
								<div class="card-body d-flex align-items-center">
									<div class="avatar-sm flex-shrink-0 me-3">
										<div class="avatar-title bg-secondary-subtle text-secondary rounded-circle fs-18">
											<i class="ri-briefcase-2-line"></i>
										</div>
									</div>
									<h5 class="fs-15 lh-base mb-0">Recherche terminée
										<span class="text-secondary fw-semibold">1,00,000+</span>
										Jobs</h5>
								</div>
							</div>

							<div class="card feedback-box">
								<div class="card-body d-flex shadow-lg">
									<div class="flex-shrink-0 me-3">
										<img src="assets/images/users/avatar-10.jpg" alt="" class="avatar-sm rounded-circle">
									</div>
									<div class="flex-grow-1">
										<h5 class="fs-14 lh-base mb-0">Tonya Noble</h5>
										<p class="text-muted fs-11 mb-1">UI/UX Designer</p>

										<div class="text-warning">
											<i class="ri-star-s-fill"></i>
											<i class="ri-star-s-fill"></i>
											<i class="ri-star-s-fill"></i>
											<i class="ri-star-s-fill"></i>
											<i class="ri-star-s-line"></i>
										</div>
									</div>
								</div>
							</div>
							<img src="assets/images/about.jpg" alt="" class="img-fluid mx-auto rounded-3"/>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="text-muted">
							<h1 class="mb-3 lh-base">Trouvez Votre
								<span class="text-primary">Emploi de Rêve</span>
								en Un Seul Endroit</h1>
							<p class="ff-secondary fs-16 mb-2">La première étape pour trouver
								<b>l’emploi de vos rêves
								</b>
								est de décider où chercher des informations de première main. Contactez des professionnels déjà actifs dans les secteurs ou les postes qui vous intéressent.
								</p>
							<p class="ff-secondary fs-16">
							Organisez des entretiens informatifs et des appels téléphoniques. Demandez l’opportunité d’observer leur travail ou de les accompagner dans leurs tâches quotidiennes.
							</p>

							<div class="vstack gap-2 mb-4 pb-1">
								<div class="d-flex align-items-center">
									<div class="flex-shrink-0 me-2">
										<div class="avatar-xs icon-effect">
											<div class="avatar-title bg-transparent text-success rounded-circle h2">
												<i class="ri-check-fill"></i>
											</div>
										</div>
									</div>
									<div class="flex-grow-1">
										<p class="mb-0">Contenu Dynamique</p>
									</div>
								</div>
								<div class="d-flex align-items-center">
									<div class="flex-shrink-0 me-2">
										<div class="avatar-xs icon-effect">
											<div class="avatar-title bg-transparent text-success rounded-circle h2">
												<i class="ri-check-fill"></i>
											</div>
										</div>
									</div>
									<div class="flex-grow-1">
										<p class="mb-0">Configurez les informations du plugin pour enrichir votre expérience de recherche.</p>
									</div>
								</div>
								<div class="d-flex align-items-center">
									<div class="flex-shrink-0 me-2">
										<div class="avatar-xs icon-effect">
											<div class="avatar-title bg-transparent text-success rounded-circle h2">
												<i class="ri-check-fill"></i>
											</div>
										</div>
									</div>
									<div class="flex-grow-1">
										<p class="mb-0">Personnalisez les thèmes pour mieux répondre à vos besoins spécifiques.</p>
									</div>
								</div>
							</div>

							<div>
								<a href="{{ url('app_login') }}" class="btn btn-primary">Retrouver vos emploi
									<i class="ri-arrow-right-line align-bottom ms-1"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end features -->

		<!-- start services -->
		<section class="section bg-light" id="categories">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="text-center mb-5">
							<h1 class="mb-3 ff-secondary fw-semibold text-capitalize lh-base">
								<span class="text-primary">Catégories</span>
							 d'emplois à forte demande
							</h1>
							<p class="text-muted">Publiez une offre d'emploi pour nous parler de votre projet. Nous vous mettrons rapidement en relation avec les freelances adaptés à vos besoins.</p>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

				<div class="row justify-content-center">
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-pencil-ruler-2-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">IT & Software</h5>
								</a>
								<p class="mb-0 text-muted">1543 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-airplay-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Construction / Facilities</h5>
								</a>
								<p class="mb-0 text-muted">3241 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm mb-4 mx-auto position-relative">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-bank-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Government</h5>
								</a>
								<p class="mb-0 text-muted">876 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-focus-2-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Marketing & Advertising</h5>
								</a>
								<p class="mb-0 text-muted">465 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-pencil-ruler-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Education & training</h5>
								</a>
								<p class="mb-0 text-muted">105 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-line-chart-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Digital Marketing</h5>
								</a>
								<p class="mb-0 text-muted">377 Jobs</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card shadow-none text-center py-3">
							<div class="card-body py-4">
								<div class="avatar-sm position-relative mb-4 mx-auto">
									<div class="job-icon-effect"></div>
									<div class="avatar-title bg-transparent text-success rounded-circle">
										<i class="ri-briefcase-2-line fs-1"></i>
									</div>
								</div>
								<a href="#!" class="stretched-link">
									<h5 class="fs-17 pt-1">Catering & Tourism</h5>
								</a>
								<p class="mb-0 text-muted">85 Jobs</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end services -->

		<!-- start cta -->
		<section class="py-5 bg-primary position-relative">
			<div class="bg-overlay bg-overlay-pattern opacity-50"></div>
			<div class="container">
				<div class="row align-items-center gy-4">
					<div class="col-sm">
						<div>
							<h4 class="text-white mb-2">Ready to Started?</h4>
							<p class="text-white-50 mb-0">Create new account and refer your friend</p>
						</div>
					</div>
					<!-- end col -->
					<div class="col-sm-auto">
						<div>
							<a href="#!" class="btn bg-gradient btn-danger">Create Free Account</a>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end cta -->


		<!-- start candidates -->
		<section class="section bg-light" id="candidates">
			<div class="bg-overlay bg-overlay-pattern"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="text-center mb-5">
							<h1 class="mb-3 ff-secondary fw-semibold text-capitalize lh-base">
								<span class="text-primary">Equipe</span>
							De Developpement
							</h1>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="swiper candidate-swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="card text-center">
										<div class="card-body p-4">
											<img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle avatar-md mx-auto d-block">
											<h5 class="fs-17 mt-3 mb-2">Faïd Alagbe</h5>
											<p class="text-muted fs-13 mb-3">Chef Projet</p>

											<p class="text-muted mb-4 fs-14">
												<i class="ri-map-pin-2-line text-primary me-1 align-bottom"></i>
												Rennes, France
											</p>

											<a href="#!" class="btn btn-primary w-100">View Profile</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card text-center">
										<div class="card-body p-4">
											<img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle avatar-md mx-auto d-block">
											<h5 class="fs-17 mt-3 mb-2">Esther Ahossi</h5>
											<p class="text-muted fs-13 mb-3">Developpeuse Front-End</p>

											<p class="text-muted mb-4 fs-14">
												<i class="ri-map-pin-2-line text-primary me-1 align-bottom"></i>
												Rennes, France
											</p>

											<a href="#!" class="btn btn-primary w-100">View Profile</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card text-center">
										<div class="card-body p-4">
											<img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle avatar-md mx-auto d-block">
											<h5 class="fs-17 mt-3 mb-2">Lucie Le Coadou</h5>
											<p class="text-muted fs-13 mb-3">Developpeuse Backend</p>

											<p class="text-muted mb-4 fs-14">
												<i class="ri-map-pin-2-line text-primary me-1 align-bottom"></i>
												Rennes, France
											</p>

											<a href="#!" class="btn btn-primary w-100">View Profile</a>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- end candidates -->

		<!--start back-to-top-->
		<button onclick="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top">
			<i class="ri-arrow-up-line"></i>
		</button>
		<!--end back-to-top-->

	</div>
	<!-- end layout wrapper -->
{% endblock %}
